:root {
  --primary: #f8b195;
  --secondary: #c06c84;
  --text-primary: #6c5b7b;
  --text-primary-hover: #4f4458;
  --text-secondary: #355c7d;
  --details: #f67280;
  background: var(--primary);
}

.App {
  display: grid;
  place-items: center;
}
